<!-- header.html -->

<header class="bg-slate-700 p-4
            flex justify-around
            ">
    <!-- sticky z-2 top-0 -->
    <img src="../images/logo.png" alt="" class=" h-8">
    <nav class="hidden md:flex">
        <ul class="md:flex space-x-10 text-white">
            <li><a href="/" class="hover:underline">Home</a></li>
            <li><a href="/about" class="hover:underline">About</a></li>
            <li><a href="/about" class="hover:underline">Features</a></li>
            <li><a href="/contact" class="hover:underline">Contact</a></li>
        </ul>
    </nav>
    <img src="../images/cart.png" alt="" class="w-8 h-8">

    <!-- this is mobile menu section -->
    <!-- <nav class="md:hidden" id="mobile-nav"> -->
    <a class="open
        md:hidden" href="#menu">
        <img src="https://ljc-dev.github.io/testing0/ham.svg" alt="menu" class="w-8 h-8 bg-slate-100">
    </a>
    <a class="close" href="#">
        <img src="https://ljc-dev.github.io/testing0/ham-close.svg" class="w-8 h-8 bg-slate-900" alt="close">
    </a>
    <!-- </nav> -->
</header>
<ul class="menu
md:hidden
absolute right-0 top-[4rem] -z-50
flex flex-col bg-slate-500 
w-[50%] p-4 min-h-screen" id="menu">
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Features</a></li>
    <li><a href="#">Contact</a></li>
</ul>
