<div class="flex justify-center items-center
           h-screen md:vh-[50%] gap-5
           flex-col-reverse md:flex-row md:justify-evenly">


    <div class="  px-5 max-w-xl">
        <h1 class="text-6xl font-semibold leading-snug">Groceries
            <br>delivery in <span class="font-light">15 mins</span>
        </h1>
        <p>
            Grocify offer a wide range of products, including fresing products, meats,
            dairy, baked goods and non-perisable items
        </p>
        <div class=" [&>*]:rounded-full [&>*]:p-2 space-x-2
                [&>*]:font-medium  mt-6 flex">
            <button class="bg-yellow-600 text-black">Order Now</button>
            <button class="ring">Download App
                <span class="text-lg inline-block rotate-90">&#10148</span>
            </button>
        </div>
    </div>
    <!-- dont forget about object-top or object-bottom or ...  -->
    <img src="images/grocery-image.png" alt="" class="w-full md:w-1/2 
            md:object-cover">
</div>
