@tailwind base;
@tailwind components;
@tailwind utilities;


.menu {
 /* animate slide up/down */
  transform: translateY(-110%);
  transition: transform 1s ease;
}


.menu:target {
  transform: translateY(0%);
}
/* display none cannot work with tarnsform 
.menu:not(:target) {
  display: none;
} */

.menu:target + header .open{
  display: none;
}
.menu:not(:target) + header .open {
  display: block;
}

.menu:target + header .close {
  display: block;
}

.menu:not(:target) + header .close {
  display: none;
}
