@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  position: sticky;
  z-index: 999999
}
.menu {
 /* animate slide up/down */
  transform: translateY(-110%);
  transition: transform 1s ease;
}


.menu:target {
  transform: translateY(0%);
}
/* display none cannot work with tarnsform 
.menu:not(:target) {
  display: none;
} */

.menu:target ~ .open{
  display: none;
}
.menu:not(:target) ~ .open {
  display: block;
}

.menu:target ~ .close {
  display: block;
}
.menu:not(:target) ~ .close {
  display: none;
}
